@import 'ember-paper';
body{
  background: #f5f5f5!important;

}

 
#forma{
 margin-top: 15px;
 
 }
#forma h3{
  font-size: 24px;
  display: inline-block;

}

a.ember-view{
  color: #E57373!important;
  display: inline-block;
  float: right;
    margin-top: 30px;
}
#forma login-link{
  display: inline-block;
  float: right;
    margin-top: 30px;
    
    color: #E57373!important;

}
.register-forma{
  margin-top: 15px;
}
html, body {
  font-family: 'antoniolight', sans-serif;
  background: #f5f5f5;
 
  height: 100%;


}

.form-control{
  border-radius:0!important;
  display: inline-block;
}
.form1{
   border-radius:0!important;
}
.AppName{
   margin-top: 30px;
    
}
.btn-danger{
  margin-top:15px;
  border-radius:0!important;
}
.navbar-default{

  background-color: white!important;
  display: inline;
}

.search{

padding-left: 70px;
padding-top: 70px;
  .btn-default{
  border-radius:0!important;
  border-color: white!important;
  height: 56px;
  color: black!important;
  
  }
  .form-control{
  height: 56px;
  width: 400px;
  font-size: 18px;
  font-weight: normal; 
  border-color: white!important;
  }
  
 
 .btn-table{
 height: 56px;
 width: 160px;
 border-radius: 0!important;
 color: white!important;
  background-color: #fd6f60;
  opacity: 1;
  }
  

}
li{
  list-style-type: none;
  display: inline;
  overflow:hidden;
   margin-top: 15px;
   margin-right: 30px;
   margin-left: 30px;
  font-weight: bold;
  color: black!important;
    
}
a{
  color: black!important;
}
a.active{
  color: #E57373 !important;
}

.card-block{
  background-color: black;
  margin-top: 75px;
  height: 100px;
    background-color: #10242d;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom:0;
    a{ color: #808a8e!important;}

    li2 {
  list-style-type: none;
  display: inline;
  overflow:hidden;
   margin-top: 30px;
   margin-right: 10px;
   margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
  color: white!important;
    a{ color: white!important;}
}

}
.footer{
   position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    bottom:0;
      a{ color: #808a8e!important;}

    li2 {
  list-style-type: none;
  display: inline;
  overflow:hidden;
   margin-top: 30px;
   margin-right: 10px;
   margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
  color: white!important;
    a{ color: white!important;}
    }
}



li3{
 list-style-type: none;
  display: inline;
  overflow:hidden;
  font-size: 12px;
   margin-top: 30px;
   margin-right: 5px;
   margin-left: 20px;

  color: #808a8e!important;
}

.force-to-bottom {
  position:relative;
  bottom:0;
  width: 100%;
}

.Mask {
  width: 1440px;
  height: 680px;
  background-color: #131d24;
 
}

#header{



  
   .pozadina{
     background-image: url("restoran-home.jpg");
   opacity: 0.7;
   height: 680px;
   width: 100%;
    background-size: cover;
   position: absolute;

   }
  
 
    a {
    color: white!important;
    font-weight: normal;
    font-size:20px;
    
  }
    h1 {
    padding-top: 232px;
    color: white;
    text-align: center;
    font-weight:normal!important;
    opacity:1;
    }
    h5{
    color:white;
    font-weight: bold;
    text-align: center;
    
    }
}


h1{
  
  font-size: 48 px;
}
h5{
  font-size: 20px;
}

.naslov{
    padding-top:260 px;
    }
#carouselpasta{
.pozadina{
background-image: url("pasta.jpg");
  opacity: 0.7;
 height: 584px;
   width: 100%;
    background-size: cover;
   position: absolute;

   }
    
    width: 100%;
    
    background-size: cover;
    
   
    h4{
    opacity: 1;
    }
   .rounded{opacity:1;}
}

#slike{
  opacity:1;
}
h4{
margin-top: 50px;
  text-align: center;
  opacity:1;
  color:black;
  font-size:25px;

}
.row{
  margin-top:30px;
}

.rounded{
width:250px;
padding: 5px;

}

.popularRestaurants{
  margin-top: -120px;
  margin-bottom: 90px;
}

.popularLocations{
  h3{
  alignment: center;
  }
  margin-top: 220px;
  margin-bottom: 200px;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);



/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 



#book{
  height: 400px;
  position: relative;

}
.reservation{
  postition: center;
}
.img{
  position:relative;
  padding: 4px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;

}

.thm{
  margin-top: 450px;
  float:left;
}

.thm h6,h3{
  float:right;
  display: inline-block;

}

#tableName{
  float:left;
  margin-top:-190px;

}

 #upper{
  margin-bottom: 0px!important;
  align:left;
  color: white;
}
#lower{
  margin-top: 0px!important;
  align: left;
  color: white;
}

#makeReservation{
  position: center;
  background-color: white;
  height: 180px;
  width:700px;
  margin-right: 250px;
  margin-top: -210px;

  #make{
  position: absolute;
   height: 180px;
  width:700px;
  
  }

  
}
  #map{
  height: 667px;
  width:700px;
  position: center;
  background-color: white;
   margin-top: 30px;
    margin-right: 250px;
  }

  #menu{
  height: 660px;
  width:700px;
  position: center;
  background-color: white;
   margin-top: 30px;
    margin-right: 250px;
  }

   #photos{
  height: 583px;
  width:700px;
  position: center;
  background-color: white;
   margin-top: 30px;
    margin-right: 250px;
  }