@import 'ember-paper';
body{
  background: #f5f5f5!important;
}

 
#forma{
 margin-top: 15px;
 
 }
#forma h3{
  font-size: 24px;
  display: inline-block;

}

a.ember-view{
  color: #E57373!important;
  display: inline-block;
  float: right;
    margin-top: 30px;
}
#forma login-link{
  display: inline-block;
  float: right;
    margin-top: 30px;
    
    color: #E57373!important;

}
.register-forma{
  margin-top: 15px;
}
html, body {
  font-family: 'antoniolight', sans-serif;
  background: #f5f5f5;
 
  height: 100%;


}

.form-control{
  border-radius:0!important;
}
.AppName{
   margin-top: 30px;
    
}
.btn-danger{
  margin-top:15px;
  border-radius:0!important;
}
.navbar-default{

  background-color: white!important;
  display: inline;
}
li{
  list-style-type: none;
  display: inline;
  overflow:hidden;
   margin-top: 15px;
   margin-right: 30px;
   margin-left: 30px;
  font-weight: bold;
  color: black!important;
    
}
a{
  color: black!important;
}
a.active{
  color: #E57373 !important;
}

.card-block{
  background-color: black;
  margin-top: 75px;
  height: 100px;
    background-color: #10242d;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom:0;
    a{ color: #808a8e!important;}

    li2 {
  list-style-type: none;
  display: inline;
  overflow:hidden;
   margin-top: 30px;
   margin-right: 10px;
   margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
  color: white!important;
    a{ color: white!important;}
}

}
.footer{
   position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    bottom:0;
      a{ color: #808a8e!important;}

    li2 {
  list-style-type: none;
  display: inline;
  overflow:hidden;
   margin-top: 30px;
   margin-right: 10px;
   margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
  color: white!important;
    a{ color: white!important;}
    }
}



li3{
 list-style-type: none;
  display: inline;
  overflow:hidden;
  font-size: 12px;
   margin-top: 30px;
   margin-right: 5px;
   margin-left: 20px;

  color: #808a8e!important;
}

.force-to-bottom {
  position:relative;
  bottom:0;
  width: 100%;
}
#header{
    background-image: url("restoran-home.jpg");
    width: 100%;
    
    background-size: cover;
    opacity: .70;
    
    height: 680px;
 
    a {
    color: white!important;
    font-weight: normal;
  }
    h1 {
    padding-top: 232px;
   
    text-align: center;
    }
    h5{
    text-align: center;
    
    }
}


h1{
  
  font-size: 48 px;
}
h5{
  font-size: 20px;
}

.naslov{
    padding-top:260 px;
    }
#carouselpasta{
    background-image: url("pasta.jpg");
    width: 100%;
    height: 370px;
    background-size: cover;
    opacity:.70;
    padding-left:15px;
    h4{
    opacity: 1;
    }
   .rounded{opacity:1;}
}
#slike{
  opacity:1;
}
h4{
margin-top: 50px;
  text-align: center;
  opacity:1;
  color:black;
  font-size:25px;

}
.row{
  margin-top:30px;
}

.rounded{
width:250px;
padding: 5px;

}




@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);



/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 


